@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial, sans-serif;
    background-color: #00bcd4;
    color: #212121;
}

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -10px auto 0px auto;
    box-shadow: 2px 3px 10px rgb(0, 0, 0);
    padding: 10px;
}
/* Tentando modificar div2 (perguntaas)*/

div#perguntas {
    width: 480px;
    background-color: #bdbdbd;
    margin: -10px auto 0px auto;
    box-shadow: 5px 10px 10px #000000;
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header#cabecalho img#icone {
    position: absolute;
    left: 770px;
    top: 20px;
    width: 20%;
    height: 20%;
}

/* Editar foto*/

.fotv {
    position: relative;
    width: 25%;
    height: 100%;
    left: 130px;
    top: -105px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #922f2f;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

.direita {
    text-align: right;
}

.esquerda {
    color: rgb(0, 0, 0);
}
header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size:15pt;
    color: #000000;
    padding: -2px;
    margin-top: 0px;
}

/* Formatação da Divisão de Partes (Corpo, Lateral, Rodapé) */

section#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 10px ;
}

article#noticia-principal h2 {
    font-weight: 13pt;
    color: #f5f5f5;
    background-color: #616161;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2{
    font-size: 12pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3{
    font-size: 15px;
    color: #000000;
}

/* Lado direito da pagina*/

table#tabelaspec {
    border: 1px solid #212121;
    border-spacing: 0px;
    margin-left: auto ;
    margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid #616161;
    padding: 20px;
    text-align:center;
    vertical-align: middle;
}

table#tabelaspec td.ce {
    color: #f5f5f5;
    background-color: #616161;
    vertical-align: center;
    font-weight: bold;
}

table#tabelaspec td.cd {
    background-color: #9e9e9e;
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #bdbdbd;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 10px 10px 10px #212121;
}

aside#lateral h2 {
    background-color: #616161;
    font-size: 13pt;
    color: #f5f5f5;
    padding: 4px;

}
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}
